################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs
/SocketDemo.Client/obj
/SocketDemo.Client/bin
/SocketDemo.Server/obj
/SocketDemo.Server/bin
/SocketDemo.Client/Program.cs
